{
  auto_https disable_redirects
  local_certs
}

https://192.168.31.22 {
  tls internal

  handle /ws {
    reverse_proxy 127.0.0.1:8088
  }

  handle /api/* {
    reverse_proxy 127.0.0.1:8080
  }

  handle {
    root * /srv/webphone
    encode gzip zstd
    file_server
    try_files {path} /index.html
  }
}
